################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MSSQLDatabase/FileContentIndex
/MSSQLDatabase/MSSQLDatabase.jfm
/.vs/MSSQLDatabase/v17
